option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "appointment_system.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DB_NAME: secureflow_db
    DB_USER: secureflow_admin
    DB_PASSWORD: SecureFlow2024!
    DB_HOST: secureflow-db.cmbq2wmicc2v.us-east-1.rds.amazonaws.com
    DB_PORT: "5432"
    DEBUG: "False"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "appointment_system.wsgi:application"
